<div class="author">
    <h1 class="author__name"> Hi, this is a new blog</h1>
    <p class="author__body">This new blog will be edited as soon as first version is deployed</p>
</div>

<img src="/img/first_img.jpg" alt="First blog" class="first-blog">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Sample</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>