@import "../node_modules/@syncfusion/ej2-icons/<theme_name>.css";

:root {
    --background-colr: #FAF5EE;
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
    --font-fam: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    font-family: var(--font-fam);
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: var(--background-colr);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: var(--font-fam);
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0,75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--black);
    border: none;
    color: ivory;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

a{
    transition: 0s color;
}

a:hover{
    background-color:#1c1c1c;
    color: ivory;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main{
    padding: 20px 0;
}

/* First Image section */
.first-blog{
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius)
}

/*Main Layout*/
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button" 
    " menu menu";
}

